*.DS_Store
*.swp
*.swo
*.un~

# certificates
*.pem

# vim
_vim/bundle/snipmate/doc/tags

# chef
chef/checksums
chef/encrypted_data_bag_secret

vim/bundle
vim/autoload/plug.vim
vim/autoload/plug.vim.old

Brewfile.lock.json
