[submodule "_vim/bundle/delmitmate"]
	path = _vim/bundle/delmitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "_vim/bundle/closetag"]
	path = _vim/bundle/closetag
	url = git://github.com/docunext/closetag.vim.git
[submodule "_vim/bundle/supertab"]
	path = _vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "_irssi/solarized"]
	path = _irssi/solarized
	url = git://github.com/huyz/irssi-colors-solarized.git
[submodule "_vim/bundle/vim-less"]
	path = _vim/bundle/vim-less
	url = git://github.com/groenewege/vim-less.git
[submodule "_vim/bundle/Vagrantfile"]
	path = _vim/bundle/Vagrantfile
	url = git://github.com/robbevan/Vagrantfile.vim.git
[submodule "_vim/bundle/vim-powerline"]
	path = _vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
