[submodule "_irssi/solarized"]
	path = _irssi/solarized
	url = git://github.com/huyz/irssi-colors-solarized.git
[submodule "zsh/zprezto"]
	path = zsh/zprezto
	url = git://github.com/sorin-ionescu/prezto.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = git://github.com/bling/vim-airline
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "vim/bundle/vim-json"]
	path = vim/bundle/vim-json
	url = git://github.com/elzr/vim-json.git
[submodule "vim/bundle/vim-pandoc"]
	path = vim/bundle/vim-pandoc
	url = git://github.com/vim-pandoc/vim-pandoc.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/tmuxline.vim"]
	path = vim/bundle/tmuxline.vim
	url = git://github.com/edkolev/tmuxline.vim
